# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
java-variaveis/.vscode/settings.json
java-variaveis/src/tiposVariaveis.java
java-variaveis/src/Tiposvariavel.java
java-variaveis/src/TipoVariavel.java
metodos-smart-tv/README.md
metodos-smart-tv/.vscode/settings.json
.gitignore
.gitignore
desktop.ini
.gitignore
.gitignore
java-variaveis/src/objetos.java
java-variaveis/src/objetos.java
metodos-smart-tv/src/Usuario.java
metodos-smart-tv/src/SmartTv.java
java-variaveis/src/objetos.java
java-variaveis/src/objetos.java
.vscode/launch.json
.vscode/sistema-smart-tv/README.md
.vscode/sistema-smart-tv/.vscode/settings.json
java-variaveis/src/metodos-smart-tv/Usuario.java
sistema-smart-tv-um/README.md
sistema-smart-tv-um/.vscode/settings.json
terminal/.vscode/settings.json
terminal/README.md
desafio.banco/.vscode/settings.json
desafio.banco/README.md
CaixaEletronico/.vscode/settings.json
CaixaEletronico/README.md
candidatos/.vscode/settings.json
candidatos/src/App.java
candidatos/README.md
exercicio/.vscode/settings.json
exercicio/README.md
testedepacote.java/.idea/vcs.xml
testedepacote.java/.idea/modules.xml
testedepacote.java/.idea/misc.xml
testedepacote.java/testedepacote.java.iml
teste de classes/.vscode/settings.json
teste de classes/.idea/vcs.xml
teste de classes/.idea/modules.xml
teste de classes/.idea/misc.xml
teste de classes/teste de classes.iml
desafio.banco/.idea/vcs.xml
desafio.banco/.idea/modules.xml
desafio.banco/.idea/misc.xml
desafio.banco/desafio.banco.iml
get-set/README.md
get-set/.vscode/settings.json
get-set/src/App.java
get-set/src/escola/Aluno.java
get-set/src/escola/Escola.java
iphone-do-pedro/README.md
iphone-do-pedro/.vscode/settings.json
iphone-do-pedro/src/App.java
iphone-do-pedro/src/IphonePedro.java
outroteste/README.md
outroteste/.vscode/settings.json
outroteste/src/App.java
outroteste/src/model/service/Exame.java
outroteste/src/model/service/service/Exame.java
outroteste/src/service/Exame.java
sistema-smart-tv-um/.classpath
sistema-smart-tv-um/.project
teste de classes/ExameService.java
teste de classes/ExameService.java
teste de classes/ExameService.java
teste de classes/src/commastersoftclinical/cliente.java
teste-github/README.md
teste-github/.vscode/settings.json
